.contact-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 50px;
  color: $foodlab;

  .gradient-stroke {
    position: relative;
    background: -webkit-linear-gradient(0deg, #ffe1db 3%, #da3333 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #fff;
    font-size: 96px;
    font-weight: 900;
    width: 55vw;
    height: 50vh;
  }

  .bottom-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: 2s slideFromBottom;
    animation-fill-mode: forwards;

    .contact-infos {
      border-top: 1px solid $foodlab;
      padding: 20px 0;
    }

    .contact-medias {
      display: flex;
      width: 100%;
      justify-content: space-around;
      color: $main;
      font-size: 32px;

      i {
        cursor: pointer;
        transition: 1s all ease;

        &:hover {
          color: $foodlab;
        }
      }
    }
  }

  img {
    position: absolute;
    height: 50px;
    width: auto;

    &.contact-burger {
      top: 5vh;
      left: 30vh;
      transform: rotate(42deg);
      animation: 5s rotateDots infinite linear;
    }

    &.contact-lobster {
      top: 35vh;
      left: 15vh;
      transform: rotate(2deg);
      animation: 5s rotateDots infinite linear reverse;
    }

    &.contact-salad {
      top: 65vh;
      left: 30vh;
      transform: rotate(200deg);
      animation: 5s rotateDots infinite linear;
    }

    &.contact-ice-cream {
      top: 5vh;
      right: 30vh;
      transform: rotate(42deg);
      animation: 5s rotateDots infinite linear reverse;
    }

    &.contact-pizza {
      top: 35vh;
      right: 15vh;
      transform: rotate(2deg);
      animation: 5s rotateDots infinite linear;
    }

    &.contact-pasta {
      top: 65vh;
      right: 30vh;
      transform: rotate(200deg);
      animation: 5s rotateDots infinite linear reverse;
    }
  }

  .mail-foodlab {
    font-size: 24px;
    font-weight: 900;
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    bottom: 0vh;
  }
  to {
    opacity: 1;
    bottom: 20vh;
  }
}

@keyframes rotateDots {
  from {
    margin-top: 0px;
    transform: rotate(0deg);
  }
  50% {
    margin-top: 15px;
    transform: rotate(180deg);
  }
  to {
    margin-top: 0px;
    transform: rotate(360deg);
  }
}
