// $foodlab: #ff8d73;
// $foodlab-hover: #ff6643;
// $foodlab-light: #ffe1db;
$foodlab: #fc4e51;
$foodlab-hover: #e71919;
$foodlab-active: #a70000;
$foodlab-light: #ffece8;

$grey-light: #f3f3f3;
$grey: #d8d8d8;
$grey-dark: #797979;