////////// ROWS
.flat-list-with-rows {
  position: relative;
  overflow: scroll;
  width: 50%;

  .flat {
    width: 100%;
    cursor: pointer;
  }
  
  .selected {
    background-color: #f7f7f7;
  }

  &:first-child {
    border-top: 1px solid #f3f3f3;
  }

  .card-container:hover {
    transition: all 0.7s ease;
    background-color: #f7f7f7;
  }
  
  .card {
    position: relative;
    height: 125px;
    color: black;
    display: flex;
    padding: 35px;
    border-bottom: 1px solid #f3f3f3;
  
    img:hover {
      transition: all 0.5s ease;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .badge-wrapper {
      position: absolute;
      top: 42px;
      left: 42px;

      .tooltip-badge {
        display: none;
        top: 0;
        left: 30px;
      }
    
      &:hover {
        .tooltip-badge {
          display: block;
        }
      }
    }
  
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
  
      .card-header-rate {
        display: flex;
        align-items: center;
  
        i {
          font-size: 12px;
          margin-right: 5px;
          color: #ffb0be;
        }
      }
    }
  
    .card-description {
      margin-left: 25px;
      width: 100%;
    }
  
    .card-header-budget {
      font-weight: 300;
      font-size: 13px;
      color: #797979;
      margin-top: 10px;
    }

    .card-flat-address {
      font-size: 14px;
      margin-bottom: 25px;
    }

    .card-description {
      position: relative;
    }
    
    .card-description h2 {
      font-size: 22px;
      margin: 12px 0 3px 0;
      line-height: 22px;
    }
  
    .card-description p {
      font-size: 14px;
      opacity: 0.7;
      font-weight: lighter;
    }

    a { 
      position: absolute;
      text-decoration: none;
      color: black;
      width: 50px;
      bottom: 0;
    }
  
    .card-see-infos {
      margin-top: 10px;
      width: 50px;
      background-color: #ececec;
      font-size: 12px;
      padding: 5px 10px;
    }
  
    .card-see-infos:hover {
      background-color: #d8d8d8;
    }
  }
}

////////// GRID
.flat-list-with-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: -25px;

  .flat {
    position: relative;
    display: flex;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - 40px);
    margin: 7px 10px;
    padding: 10px;
    height: 210px;
    cursor: pointer;

    &:hover {
      transition: all 0.7s ease;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .badge-wrapper {
      position: absolute;
      top: 18px;
      right: 20px;

      .tooltip-badge {
        display: none;
        top: 0;
        right: 30px;
      }
    
      &:hover {
        .tooltip-badge {
          display: block;
        }
      }
    }

    a { 
      position: absolute;
      text-decoration: none;
      color: black;
      width: 100%;
      height: 100%;
      bottom: 0;
    }

    .card-header-rate {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      font-weight: 700;
    }

    img {
      width: 100%;
      height: 132px;
    }

    .grid-img-overlay {
      position: absolute;
      width: calc(100% - 20px);
      height: 132px;
      opacity: 0.2;
      background-color: black;
    }

    .card-header-type {
      font-size: 14px;
      position: absolute;
      top: 115px;
      left: 20px;
      color: white;
      font-weight: 700;
    }

    h2 {
      margin: 4px 5px 20px 8px;
      font-size: 20px;
      line-height: 20px;
      // color: #ff4667;
    }

    .card-flat-address {
      position: absolute;
      font-size: 12px;
      margin: 0 8px;
      bottom: 16px;
    }

    .card-see-infos {
      margin-bottom: 10px;
      width: calc(100% - 20px);
      display: flex;
      justify-content: center;
      background-color: #ececec;
      font-size: 12px;
      padding: 7px 10px;
    }
  
    .card-see-infos:hover {
      background-color: #d8d8d8;
    }
  }
}
