.flat-list {
  position: relative;
  overflow: scroll;
  width: 100%;

  .flat {
    width: 100%;
    cursor: pointer;
  }
  
  .selected {
    background-color: #f9f9f9;
  }

  &:first-child {
    border-top: 1px solid #f3f3f3;
  }
}
