@keyframes colorHover {
  0% { color: #ffb0be; }
  10% { color: #ff4ac7; }
  20% { color: #6649ff; }
  30% { color: #2986ff; }
  40% { color: #29ccff; }
  50% { color: #90ff99; }
  60% { color: #ecff85; }
  70% { color: #ffbe29; }
  80% { color: #ff3737; }
  90% { color: #ff6b6b; }
  100% { color: #ffb0be; }
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.1);

  .header-left {
    display: flex;
    flex-direction: row;
    width: 85%;

    .foodlab-logo {
      font-family: "Ceviche One";
      font-size: 32px;
      margin: 0 35px;
      color: #ffb0be;
      letter-spacing: -1px;
      cursor: pointer;

      &:hover {
        animation: colorHover 5s infinite;
      }

      i { font-size: 20px; }
    }
  }

  .header-right {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    font-size: 14px;

    div { 
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
