@keyframes colorHover {
  0% { color: #ffb0be; }
  5% { color: #ff4ac7; }
  10% { color: #6649ff; }
  15% { color: #2986ff; }
  20% { color: #29ccff; }
  25% { color: #90ff99; }
  30% { color: #ecff85; }
  35% { color: #ffbe29; }
  40% { color: #ff3737; }
  45% { color: #ff6b6b; }
  50% { color: #ffb0be; }
  55% { color: #ff4ac7; }
  60% { color: #6649ff; }
  65% { color: #2986ff; }
  70% { color: #29ccff; }
  75% { color: #90ff99; }
  80% { color: #ecff85; }
  85% { color: #ffbe29; }
  90% { color: #ff3737; }
  95% { color: #ff6b6b; }
  100% { color: #ffb0be; }
}
