@import "filters";
@import "flat_list";
@import "google_map";
@import "header";
@import "keyframes";

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-view {
  height: calc(100vh - 176px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

*,
::after,
::before {
  outline: 0;
}
