@import "card";

.map-view {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

*,
::after,
::before {
  outline: 0;
}

.header {
  display: flex;
  width: 100%;
}

.flat-list {
  position: relative;
  overflow: scroll;
  width: 60%;
  margin-right: 15px;

  .flat {
    width: 100%;
    cursor: pointer;
  }
  
  .selected {
    box-shadow: 5px 5px 8px 0 rgba(28, 15, 125, 0.3);
  }
}

.google-map {
  position: relative;
  width: 40%;
  height: 100%;
}
