@import "abstracts/keyframes.scss";

@import "common/contact.scss";
@import "common/header-mobile.scss";
@import "common/header.scss"; 
@import "common/key.scss";

@import "pages/home/home.scss";

@import "pages/restaurants/filters.scss";
@import "pages/restaurants/map.scss";
@import "pages/restaurants/restaurant-list-mobile.scss";
@import "pages/restaurants/restaurant-list.scss";

@import "pages/detail/detail-mobile.scss";
@import "pages/detail/detail.scss";

@import "pages/awards/awards-mobile.scss";
@import "pages/awards/awards.scss";

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-view {
  height: calc(100vh - 196px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

*,
::after,
::before {
  outline: 0;
}
