@import "abstracts/variables.scss";
@import "abstracts/keyframes.scss";

@import "common/card.scss";
@import "common/contact.scss";
@import "common/header.scss"; 
@import "common/header-mobile.scss";
@import "common/key.scss";

@import "pages/home/home.scss";
@import "pages/home/home-mobile.scss";

@import "pages/restaurants/filters.scss";
@import "pages/restaurants/map.scss";
@import "pages/restaurants/restaurant-list.scss";
@import "pages/restaurants/restaurant-list-mobile.scss";

@import "pages/detail/detail.scss";
@import "pages/detail/detail-mobile.scss";

@import "pages/awards/awards.scss";
@import "pages/awards/awards-mobile.scss";

@import "pages/contact/contact.scss";
@import "pages/contact/contact-mobile.scss";

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: $main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app .home-wrapper { overflow: hidden; }

.main-view {
  height: calc(100vh - 192px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

*,
::after,
::before {
  outline: 0;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  color: #fff;
  background-color: $foodlab;
}
