.keys-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;

  .selection-button {
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 12px;
    background-color: $foodlab;
    color: #fff;

    &:hover {
      transition: all 0.7s ease;
      background-color: $foodlab-hover;
    }

    &:active { background-color: $foodlab-active; }
  }

  .filter-selection-wrapper {
    position: absolute;
    right: 20px;
    top: 43px;
    z-index: 998;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    max-width: 300px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .badge-wrapper {
    position: relative;
    cursor: pointer;
  
    .icon-wrapper {
      box-shadow: none !important;
      background-color: none !important;
      padding: 8px;
    }
  
    .tooltip-badge {
      display: none;
      top: 35px;
      right: 0px;
    }
  
    &:hover {
      .tooltip-badge {
        display: block;
      }
    }
  }
}
