///////// DESKTOP
.home-wrapper {
  .home-hero-scene {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);

    .home-hero-scene-intro-wrapper {
      position: relative;
      width: 40%;
      height: 100%;
    }

    .home-hero-scene-intro {
      display: flex;
      position: absolute;
      width: 90%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      flex-direction: column;
      justify-content: center;
      animation: 2s slideFromLeftHome;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      
      .home-catchphrase {
        font-size: 56px;
        font-weight: 900;
        color: $main;
      }

      .home-catchphrase-underline {
        background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
        height: 3px;
        margin-top: 30px;
        width: 50%;
        animation: 2s underlineHome;
      }

      .home-subtitle {
        font-size: 18px;
        margin-top: 30px;
        line-height: 23px;
      }
    }

    .home-hero-scene-image-overlay {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #fff;
      animation: 2s overlayHome;
      animation-fill-mode: forwards;
    }

    .home-hero-scene-image {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;
      background-image: url("/hero.jpeg");
      background-attachment: fixed;
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;

      .button-home-go {
        position: relative;
        overflow: hidden;
        background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
        border: none;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
        height: 56px;
        width: 25%;
        border-radius: 0 32px 32px 0;
        cursor: pointer;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Montserrat";
        color: #fff;
        font-size: 11px;
        -webkit-font-smoothing: antialiased;
        transition: 0.5s all ease;

        &:hover { background-color: $foodlab-hover; }
        &:active { 
          background-color: $foodlab-active;
          transition: none;
        }

        .btn-first-text, .btn-second-text {
          position: absolute;
          top: 21px;
          width: 200px;
        }

        .btn-first-text {
          left: -182px;
          animation: slideToRightText 8s linear infinite;
        }

        .btn-second-text {
          left: -182px;
          animation: slideToRightText 8s linear infinite;
          animation-delay: 4s;
        }
      }
    

      //////// REACT-SELECTS ARR & TYPE FILTERS
      .filters-react-select {
        width: 25%;
        z-index: 999;

        svg { fill: #9397b8; }
      }

      .css-1wa3eu0-placeholder {
        color: #9397b8;
      }

      .css-yk16xz-control, .css-1pahdxg-control {
        border-radius: 32px 0 0 32px !important;
        padding-left: 12px !important;
        padding-right: 5px !important;
        font-size: 12px !important;
        height: 56px !important;
        border: none !important;
        color: #12105a;
        box-shadow: 2px 2px 10px rgba(31, 62, 214, 0.1);
      }

      .filter-type {
        .css-yk16xz-control, .css-1pahdxg-control {
          border-radius: 0 !important;
        }
      }

      .css-26l3qy-menu {
        font-size: 12px !important;
      }

      .css-1okebmr-indicatorSeparator {
        display: none;
      } 
    }

    .scroll-animation {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 30px;
      height: 60px;
      bottom: 5vh;
      left: calc(50vw - 15px);
      border: 3px solid $main;
      border-radius: 32px;

      .mouse-scroll-ball {
        width: 6px;
        height: 6px;
        margin-top: 10px;
        border-radius: 50%;
        background-color: $main;
        animation: 4s scrollBall infinite;
      }
    }
  }

  .home-weekly-new, .home-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    animation: 1s slideFromBottomMiddleSection;

    .home-weekly-new-title, .home-new-title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px;
  
      i { 
        position: relative;
        color: $foodlab;
        animation: 3s rotateSvg infinite;
      }

      .home-weekly-title-text, .home-new-title-text {
        margin: 0 20px;
      }
    }

    .new-restaurants-container {
      display: flex;
      flex-direction: column;
      width: 60%;
    }

    .weekly-restaurant, .new-restaurant {
      margin-top: 20px;
      width: 60%;
      cursor: pointer;
      box-shadow: 2px 2px 12px rgba(214, 31, 31, 0.1);
    }

    .new-restaurant {
      width: 100%;
    }

    .weekly-restaurant:hover, .new-restaurant:hover {
      transition: all 0.7s ease;
      box-shadow: 5px 5px 25px rgba(214, 31, 31, 0.2);
    }
  }

  .home-foodlab-concept {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: -20%;
    background: #ffefeb;
    padding: 20%;
    font-weight: 700;

    .home-concept-step {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 17%;
      align-items: center;
      justify-content: center;

      img { 
        position: relative;
        width: 100%;
        height: auto;
        max-height: 130px;
      }
    }

    .home-step-one img, .home-step-three img {
      animation: 5s rotateImageOne infinite;
    }
    
    .home-step-two img {
      animation: 5s rotateImageTwo infinite;
    }

    .home-concept-description {
      margin-top: 60px;
      font-size: 16px;
      text-align: center;
      line-height: 36px;

      span {
        color: #fff;
        background-color: $foodlab;
        box-shadow: 10px 0 0 $foodlab, -10px 0 0 $foodlab;
        padding: 7px 2px;
      }
    }
  }

  .footer-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    background-color: #ffefea;

    img {
      width: auto;
      margin-right: -2px;
    }
    .fried-potatoes { height: 20px; }
    .fried-chicken { height: 40px; }
    .hot-dog { 
      position: absolute;
      height: 50px;
      right: 18%;
    }
    .cola { 
      margin-right: 10%;
      height: 30px;
    }
  }

  .home-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    background-color: $foodlab;
    color: #fff;
    font-weight: 900;
    font-size: 12px;

    .home-footer-brand {
      margin: 0 70px;
      letter-spacing: 1px;
      text-transform: uppercase;

      i {
        margin-right: 5px;
      }
    }
  }

  .home-contact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $foodlab;
    background-color: #ffefea;
  
    .gradient-stroke {
      background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: #ffefea;
      font-size: 60px;
      font-weight: 900;
      width: 50vw;
    }

    .go-to-contact {
      position: relative;
      overflow: hidden;
      z-index: 999;
      background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
      border: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
      height: 52px;
      width: 230px;
      border-radius: 32px;
      cursor: pointer;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: "Montserrat";
      color: #fff;
      font-size: 12px;
      margin-top: 50px;
      -webkit-font-smoothing: antialiased;
      transition: 0.5s all ease;

      &:hover { background-color: $foodlab-hover; }
      &:active { 
        background-color: $foodlab-active;
        transition: none;
      }

      .btn-first-text, .btn-second-text {
        position: absolute;
        top: 19px;
        width: 200px;
      }

      .btn-first-text {
        left: -182px;
        animation: slideToRightText 8s linear infinite;
      }

      .btn-second-text {
        left: -182px;
        animation: slideToRightText 8s linear infinite;
        animation-delay: 4s;
      }
    }

    .contact-icon-container {
      position: absolute;
      z-index: 10;
      width: 100vw;
      height: 100vh;
    }

    img {
      position: absolute;
      height: 50px;
      width: auto;
  
      &.contact-burger {
        top: 15vh;
        left: 30vw;
        transform: rotate(42deg);
      }
  
      &.contact-lobster {
        top: 45vh;
        left: 15vw;
        transform: rotate(30deg);
      }
  
      &.contact-salad {
        top: 75vh;
        left: 30vw;
        transform: rotate(-42deg);
      }
  
      &.contact-ice-cream {
        top: 15vh;
        right: 30vw;
        transform: rotate(-42deg);
      }
  
      &.contact-pizza {
        top: 45vh;
        right: 15vw;
        transform: rotate(2deg);
      }
  
      &.contact-pasta {
        top: 75vh;
        right: 30vw;
        transform: rotate(42deg);
      }
    }
  }
}
