///////// DESKTOP
.home-wrapper {
  .home-hero-scene {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 200px);

    .home-hero-scene-intro-wrapper {
      position: relative;
      width: 40%;
      height: 100%;
    }

    .home-hero-scene-intro {
      display: flex;
      position: absolute;
      width: 100%;
      left: 20%;
      top: 35%;
      z-index: 2;
      opacity: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      animation: 2s slideFromLeftHome;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      
      .home-catchphrase {
        font-size: 42px;
        font-weight: 900;
        background: -webkit-linear-gradient(0deg, #3d3aa7 3%, #12105a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .home-catchphrase-underline {
        background-color: $foodlab;
        height: 3px;
        margin-top: 10px;
        width: 50%;
        animation: 2s underlineHome;
      }

      .home-subtitle {
        font-size: 14px;
        margin-top: 10px;
        line-height: 23px;
      }
    }

    .home-hero-scene-image-overlay {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #fff;
      animation: 2s overlayHome;
      animation-fill-mode: forwards;
    }

    .home-hero-scene-image {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 65%;
      height: 100%;
      background-image: url("/hero-scene.webp");
      background-attachment: fixed;
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;

      .button-home-go {
        position: relative;
        overflow: hidden;
        background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
        border: none;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
        height: 40px;
        width: 200px;
        border-radius: 32px;
        cursor: pointer;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Montserrat";
        color: #fff;
        font-size: 11px;
        -webkit-font-smoothing: antialiased;
        transition: 0.5s all ease;

        &:hover { background-color: $foodlab-hover; }
        &:active { 
          background-color: $foodlab-active;
          transition: none;
        }

        .btn-first-text, .btn-second-text {
          position: absolute;
          top: 13px;
          width: 200px;
        }

        .btn-first-text {
          left: -182px;
          animation: slideToRightText 8s linear infinite;
        }

        .btn-second-text {
          left: -182px;
          animation: slideToRightText 8s linear infinite;
          animation-delay: 4s;
        }
      }
    

      //////// REACT-SELECTS ARR & TYPE FILTERS
      .filters-react-select {
        width: 150px;
        z-index: 999;

        svg { fill: #9397b8; }
      }

      .css-1wa3eu0-placeholder {
        color: #9397b8;
      }

      .css-yk16xz-control, .css-1pahdxg-control {
        border-radius: 32px !important;
        padding-left: 8px !important;
        font-size: 12px !important;
        margin-right: 10px;
        height: 40px !important;
        border: none !important;
        color: #12105a;
        box-shadow: 2px 2px 10px rgba(31, 62, 214, 0.1);
      }

      .css-26l3qy-menu {
        font-size: 12px !important;
      }

      .css-1okebmr-indicatorSeparator {
        display: none;
      } 
    }
  }

  .home-weekly-new, .home-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    animation: 1s slideFromBottomMiddleSection;

    .home-weekly-new-title, .home-new-title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px;
  
      i { 
        position: relative;
        color: $foodlab;
        animation: 3s rotateSvg infinite;
      }

      .home-weekly-title-text, .home-new-title-text {
        margin: 0 20px;
      }
    }

    .weekly-restaurant, .new-restaurant {
      margin-top: 20px;
      width: 60%;
      cursor: pointer;
      box-shadow: 2px 2px 12px rgba(214, 31, 31, 0.1);
    }

    .weekly-restaurant:hover, .new-restaurant:hover {
      transition: all 0.7s ease;
      box-shadow: 5px 5px 25px rgba(214, 31, 31, 0.2);
    }
    
    .card {
      position: relative;
      height: 125px;
      color: $main;
      display: flex;
      padding: 35px;
  
      img {
        width: 100%;
        max-width: 200px;
        height: auto;
      }
    
      img:hover {
        transition: all 0.5s ease;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      }
  
      .badge-wrapper {
        position: absolute;
        top: 42px;
        left: 42px;
  
        .tooltip-badge {
          display: none;
          top: 0;
          left: 30px;
        }
      
        &:hover {
          .tooltip-badge {
            display: block;
          }
        }
      }
    
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    
        .card-header-rate {
          display: flex;
          align-items: center;
    
          i {
            font-size: 12px;
            margin-right: 5px;
            color: $foodlab;
          }
        }
      }
    
      .card-description {
        margin-left: 25px;
        width: 100%;
      }
    
      .card-header-budget {
        font-weight: 300;
        font-size: 13px;
        color: $main;
        margin-top: 10px;
      }
  
      .card-restaurant-address {
        font-size: 14px;
        margin-bottom: 25px;
      }
  
      .card-description {
        position: relative;
      }
      
      .card-description h2 {
        font-size: 22px;
        margin: 12px 0 3px 0;
        line-height: 22px;
      }
    
      .card-description p {
        font-size: 14px;
        opacity: 0.7;
        font-weight: lighter;
      }
  
      a { 
        position: absolute;
        text-decoration: none;
        color: $main;
        width: 50px;
        bottom: 0;
      }
    
      .card-see-infos {
        margin-top: 10px;
        width: 82px;
        color: #fff;
        background-color: $foodlab;
        font-size: 12px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.5px;
        border-radius: 3px;
        
        &:hover {
          background-color: $foodlab-hover;
        }
        
        &:active {
          background-color: $foodlab-active;
        }
      }
    }
  }

  .home-foodlab-concept {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: -20%;
    background: #ffefeb;
    padding: 20%;
    font-weight: 700;

    .home-concept-step {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 17%;
      align-items: center;
      justify-content: center;

      img { 
        position: relative;
        width: 100%;
        height: auto;
        max-height: 130px;
      }
    }

    .home-step-one img, .home-step-three img {
      animation: 5s rotateImageOne infinite;
    }
    
    .home-step-two img {
      animation: 5s rotateImageTwo infinite;
    }

    .home-concept-description {
      margin-top: 60px;
      font-size: 16px;
      text-align: center;
      line-height: 36px;

      span {
        color: #fff;
        background-color: $foodlab;
        box-shadow: 10px 0 0 $foodlab, -10px 0 0 $foodlab;
        padding: 7px 2px;
      }
    }
  }

  .footer-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    background-color: #ffefea;

    img {
      width: auto;
      margin-right: -2px;
    }
    .fried-potatoes { height: 20px; }
    .fried-chicken { height: 40px; }
    .hot-dog { 
      position: absolute;
      height: 50px;
      right: 18%;
    }
    .cola { 
      margin-right: 10%;
      height: 30px;
    }
  }

  .home-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    background-color: $foodlab;
    color: #fff;
    font-weight: 900;
    font-size: 12px;

    .home-footer-brand {
      margin: 0 70px;
      letter-spacing: 1px;
      text-transform: uppercase;

      i {
        margin-right: 5px;
      }
    }
  }

  .home-contact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $foodlab;
    background-color: #ffefea;
  
    .gradient-stroke {
      background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: #ffefea;
      font-size: 60px;
      font-weight: 900;
      width: 50vw;
    }

    .go-to-contact {
      position: relative;
      overflow: hidden;
      background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
      border: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
      height: 40px;
      width: 200px;
      border-radius: 32px;
      cursor: pointer;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: "Montserrat";
      color: #fff;
      font-size: 12px;
      margin-top: 50px;
      -webkit-font-smoothing: antialiased;
      transition: 0.5s all ease;

      &:hover { background-color: $foodlab-hover; }
      &:active { 
        background-color: $foodlab-active;
        transition: none;
      }

      .btn-first-text, .btn-second-text {
        position: absolute;
        top: 13px;
        width: 200px;
      }

      .btn-first-text {
        left: -182px;
        animation: slideToRightText 8s linear infinite;
      }

      .btn-second-text {
        left: -182px;
        animation: slideToRightText 8s linear infinite;
        animation-delay: 4s;
      }
    }

    .contact-icon-container {
      position: absolute;
      z-index: 10;
      width: 100vw;
      height: 100vh;
    }

    img {
      position: absolute;
      height: 50px;
      width: auto;
  
      &.contact-burger {
        top: 15vh;
        left: 30vh;
        transform: rotate(42deg);
      }
  
      &.contact-lobster {
        top: 45vh;
        left: 15vh;
        transform: rotate(30deg);
      }
  
      &.contact-salad {
        top: 75vh;
        left: 30vh;
        transform: rotate(-42deg);
      }
  
      &.contact-ice-cream {
        top: 15vh;
        right: 30vh;
        transform: rotate(-42deg);
      }
  
      &.contact-pizza {
        top: 45vh;
        right: 15vh;
        transform: rotate(2deg);
      }
  
      &.contact-pasta {
        top: 75vh;
        right: 30vh;
        transform: rotate(42deg);
      }
    }
  }
}
