@media screen and (max-width: 728px) {
  .home-wrapper {
    .home-hero-scene {
      height: 100vh;
      flex-direction: column;
      position: relative;

      .home-hero-scene-image {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        flex-direction: column;

        .filters-react-select, .button-home-go {
          width: 80%;
          border-radius: 32px;
          margin-bottom: 10px;

          .css-yk16xz-control, .css-yk16xz-control {
            border-radius: 32px !important;
          }
        }
      }

      .home-hero-scene-intro-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 40px;

        .home-hero-scene-intro {
          display: flex;
          position: unset;
          justify-content: flex-start;
          align-items: center;
          margin-top: 10vh;

          .home-catchphrase {
            font-size: 20px;
            text-align: center;
            font-weight: 100;
          }

          .home-catchphrase-underline {
            background: -webkit-linear-gradient(0deg, #ff6242 3%, #de0505 100%);
            height: 3px;
            margin-top: 10px;
            width: 50%;
            text-align: center;
          }
    
          .home-subtitle {
            font-size: 14px;
            margin-top: 10px;
            line-height: 23px;
            text-align: center;
          }
        }
      }
    }

    .home-weekly-new, .home-new {
      margin-top: 50px;

      .home-weekly-new-title, .home-new-title {
        font-weight: 100;
        width: 80%;
        text-align: center;
      }

      .weekly-restaurant, .new-restaurant {
        width: 100%;
      }
    }

    .home-foodlab-concept {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;

      .home-concept-step {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        img { 
          width: 80%;
          height: auto;
          max-height: 130px;
        }
      }

      .home-concept-description {
        width: 80%;
        margin-top: 40px;
        margin-bottom: 80px;
        font-size: 14px;
        text-align: center;
      }
    }

    .home-contact {
      .gradient-stroke {
        width: 80vw;
        font-size: 50px;
      }

      .contact-pizza, .contact-lobster {
        display: none;
      }
    }

    .footer-img {
      display: none;
    }

    .home-footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 60px;
      background-color: $foodlab-light;
      color: $foodlab;
      font-size: 12px;

      .home-footer-brand {
        margin: 0 40px;
        letter-spacing: 1px;
        text-transform: uppercase;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}