//////// DESKTOP
.awards-page-wrapper {
  position: relative;
  display: flex;

  .awards-page-big-img {
    width: 45%;
    height: calc(100vh - 100px);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .awards-image-title {
      margin-top: 40%;
      margin-left: 10%;
      font-weight: 100;
      background-color: $foodlab;
      padding: 5px 10px;
      font-size: 32px;
      animation: 1s slideFromLeftAwards;
    }

    .awards-image-subtitle {
      margin-left: 10%;
      background-color: $foodlab;
      padding: 5px 10px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      animation: 1s slideFromLeftAwards;
    }
  }

  .awards-listing {
    position: relative;
    width: 55%;
    height: calc(100vh - 100px);
    overflow: scroll;
    animation: 1s slideFromBottomListingRow;
    
    .title-and-key {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0px 15px 10px 35px;
    }
    
    .awards-listing-title {
      font-weight: 100;
      font-size: 24px;
    }

    .awarded-restaurant {
      width: 100%;
      cursor: pointer;

      a {
        text-decoration: none;
      }

      &:nth-child(2) { border-top: 1px solid $grey-light; }
    }
  
    .awarded-restaurant:hover {
      transition: all 0.7s ease;
      background-color: $grey-light;
    }
    
    .card {
      position: relative;
      height: 125px;
      color: #000;
      display: flex;
      padding: 35px;
      border-bottom: 1px solid $grey-light;

      img {
        width: 100%;
        max-width: 200px;
        height: auto;
      }
    
      img:hover {
        transition: all 0.5s ease;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      }
  
      .badge-wrapper {
        position: absolute;
        top: 42px;
        left: 42px;
  
        .tooltip-badge {
          display: none;
          top: 0;
          left: 30px;
        }
      
        &:hover {
          .tooltip-badge {
            display: block;
          }
        }
      }
    
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    
        .card-header-rate {
          display: flex;
          align-items: center;
    
          i {
            font-size: 12px;
            margin-right: 5px;
            color: $foodlab;
          }
        }
      }
    
      .card-description {
        margin-left: 25px;
        width: 100%;
      }
    
      .card-header-budget {
        font-weight: 300;
        font-size: 13px;
        color: $grey-dark;
        margin-top: 10px;
      }
  
      .card-restaurant-address {
        font-size: 14px;
        margin-bottom: 25px;
      }
  
      .card-description {
        position: relative;
      }
      
      .card-description h2 {
        font-size: 22px;
        margin: 12px 0 3px 0;
        line-height: 22px;
      }
    
      .card-description p {
        font-size: 14px;
        opacity: 0.7;
        font-weight: lighter;
      }
  
      a { 
        position: absolute;
        text-decoration: none;
        color: #000;
        width: 50px;
        bottom: 0;
      }
    
      .card-see-infos {
        margin-top: 10px;
        width: 70px;
        color: white;
        background-color: $foodlab;
        font-size: 12px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.5px;
        border-radius: 3px;
      }
    
      .card-see-infos:hover {
        background-color: $foodlab-hover;
      }
    }
  }
}
