//////// MOBILE
.awards-page-wrapper-mobile {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;

  .awards-listing {
    position: relative;
    animation: 1s slideFromBottomListingRow;
    
    .title-and-key {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 15px 10px 35px;
    }
    
    .awards-listing-title {
      font-weight: 100;
      font-size: 24px;
    }

    .awarded-restaurant {
      cursor: pointer;

      &:nth-child(2) { border-top: 1px solid $grey-light; }

      .restaurant {
        position: relative;
        display: flex;
        background: #fff;
        box-shadow: 5px 5px 15px rgba(214, 31, 31, 0.05);
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        height: 210px;
        cursor: pointer;
      }
    }
  
    .awarded-restaurant:hover {
      transition: all 0.7s ease;
      background-color: $grey-light;
    }
  }
}
