//////// DESKTOP
.awards-page-wrapper {
  position: relative;
  display: flex;

  .awards-page-big-img {
    width: 45%;
    height: calc(100vh - 100px);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .awards-image-title {
      margin-top: 40%;
      margin-left: 10%;
      font-weight: 100;
      background-color: $foodlab;
      padding: 5px 10px;
      font-size: 32px;
      animation: 1s slideFromLeftAwards;
    }

    .awards-image-subtitle {
      margin-left: 10%;
      background-color: $foodlab;
      padding: 5px 10px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      animation: 1s slideFromLeftAwards;
    }
  }

  .awards-listing {
    position: relative;
    width: 55%;
    height: calc(100vh - 100px);
    overflow: scroll;
    animation: 1s slideFromBottomListingRow;
    
    .title-and-key {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0px 15px 10px 35px;
    }
    
    .awards-listing-title {
      font-weight: 100;
      font-size: 24px;
    }

    .awarded-restaurant {
      width: 100%;
      cursor: pointer;

      a {
        text-decoration: none;
      }

      &:nth-child(2) { border-top: 1px solid $grey-light; }
    }
  
    .awarded-restaurant:hover {
      transition: all 0.7s ease;
      background-color: $grey-light;
    }
  }
}
