.detail-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  .button-go-back {
    position: absolute;
    background-color: #ffb0be;
    padding: 5px 8px;
    color: #fff;
    top: 20px;
    left: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;

    &:hover { background-color: #ff7a92; }
  }

  .top-section {
    display: flex;
    height: calc(100vh - 500px);

    .detail-page-big-img {
      width: 40%;
      height: 100%;
    }
  
    .detail-page-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
  
      .detail-page-title {
        margin-left: -60px;
        margin-top: 65px;
        font-size: 36px;
        font-weight: 100;
        background-color: #ffb0be;
        padding: 5px 15px;
        color: #fff;
      }

      .detail-page-resume {
        margin-top: 20px;
        width: 100%;
        column-count: 2;
        column-gap: 20px;
        list-style: none;
        padding: 0;
        font-size: 13px;

        .bolder { 
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 11px;
        }

        .see-menu {
          margin-top: 10px;
          width: 50px;
          color: black;
          text-decoration: none;
          background-color: #ececec;
          font-size: 12px;
          padding: 5px 10px;
          cursor: pointer;
        }
      
        .see-menu:hover {
          background-color: #d8d8d8;
        }

        li { margin-bottom: 20px; }
      }
    }
  }

  .bottom-section {
    display: flex;
    width: 100%;
    height: 100%;

    .detail-page-reviews {
      display: flex;
      width: 100%;
      align-items: center;

      .foodlab-review {
        width: calc(32% - 70px);
        font-size: 16px;
        font-weight: 100;
        line-height: 32px;
        margin: 50px;

        .foodlab-review-title {
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          margin-bottom: -5px;
        }
      }

      .customers-reviews {
        width: 30%;
        list-style: none;
        font-size: 14px;
        padding: 0;

        li {
          margin-bottom: 20px;

          .review-date {
            font-size: 12px;
            font-style: italic;
            opacity: 0.5;
            margin-bottom: 5px;
          }

          .review-comment {
            text-align: justify;
          }
        }
      }
    }

    .cropped-img-overlay {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 32%;
      height: 58%;
      background-color: #000;
      opacity: 0.3;
      z-index: 1;
    }
  
    .detail-page-cropped-img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 32%;
      height: 58%;
    }
  }
}