////////// DESKTOP
.detail-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow: scroll;

  .popin-suggestion-navigation {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 999;
    bottom: 70px;
    left: 20px;
    max-width: 340px;
    background-color: $foodlab;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
    cursor: pointer;
    line-height: 25px;
    font-size: 14px;
    transition: 0.5s all ease;

    i { margin-left: 20px; }

    &:hover {
      opacity: 0.8;
    }
  }

  .button-go-back {
    position: absolute;
    background-color: $foodlab;
    padding: 5px 8px;
    color: #fff;
    top: 20px;
    left: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;

    &:hover { background-color: $foodlab-hover; }
  }

  .detail-page-award {
    position: absolute;
    top: 240px;
    left: 15px;
    color: #fff;
    background-color: rgba(255, 103, 103, 0.8);
    padding: 5px 10px;
    font-style: italic;
    font-size: 13px;
  }

  .top-section {
    display: flex;
    height: 280px;

    .detail-page-big-img {
      width: 40%;
      height: 100%;
    }
  
    .detail-page-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
  
      .detail-page-title {
        margin-left: -60px;
        margin-top: 65px;
        font-size: 36px;
        font-weight: 100;
        background-color: $foodlab;
        padding: 5px 15px;
        color: #fff;
        animation: 1s slideFromLeftDesktop;
      }

      .detail-page-resume {
        margin-top: 20px;
        width: 100%;
        column-count: 2;
        column-gap: 20px;
        list-style: none;
        padding: 0;
        font-size: 13px;
        animation: 1s slideFromBottomTopSection;

        .resume-rate {
          font-weight: 700;
          color: $foodlab;
          font-size: 14px;
        }

        .bolder { 
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 11px;
        }

        .see-menu {
          margin-top: 10px;
          width: 50px;
          color: #000;
          text-decoration: none;
          background-color: $grey-light;
          font-size: 12px;
          padding: 5px 10px;
          cursor: pointer;
          transition: 0.5s all ease;
        }
      
        .see-menu:hover {
          background-color: $grey;
        }

        li { margin-bottom: 20px; }
      }
    }
  }

  .middle-section {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 70px 0 30px 0;
    animation: 1s slideFromBottomMiddleSection;

    .detail-page-reviews {
      display: flex;
      width: 100%;
      align-items: flex-start;

      .foodlab-review {
        width: calc(32% - 70px);
        font-size: 16px;
        font-weight: 100;
        line-height: 32px;
        margin: 0 50px;

        .foodlab-review-title {
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          margin-bottom: -5px;
        }
      }

      .customers-reviews {
        width: 30%;
        list-style: none;
        font-size: 14px;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 20px;

          .review-date {
            font-size: 12px;
            font-style: italic;
            opacity: 0.5;
            margin-bottom: 5px;
          }

          .review-comment {
            text-align: justify;
          }
        }
      }
    }

    .cropped-img-overlay {
      position: absolute;
      right: 0;
      top: 350px;
      width: 30%;
      height: 40%;
      background-color: #000;
      opacity: 0.3;
      z-index: 1;
    }
  
    .detail-page-cropped-img {
      position: absolute;
      right: 0;
      top: 350px;
      width: 30%;
      height: 40%;
    }
  }

  .bottom-section {
    display: flex;
    width: calc(100% - 100px);
    height: 100%;
    margin: 30px 50px;
    flex-direction: column;

    .bottom-section-title {
      font-size: 24px;
      font-weight: 100;
      border-top: 1px solid $grey-light;
      padding-top: 20px;
      margin-bottom: 10px;
    }

    .similar-restaurants-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .similar-restaurant-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
        width: calc(33% - 30px);
        max-height: 70px;
        cursor: pointer;
        margin: 15px;
        transition: 0.5s all ease;

        .similar-restaurant-description {
          display: flex;
          flex-direction: column;
          margin: 20px;
          width: calc(70% - 40px);
        }

        .similar-restaurant-image {
          height: 100%;
          width: auto;
          width: 30%;

          img {
            height: 100%;
            width: 100%;
            border-radius: 0 5px 5px 0;
            object-fit: cover;
          }
        }

        .similar-restaurant-card-name {
          font-size: 15px;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .similar-restaurant-card-rate {
          font-size: 13px;
          margin: 1px 0 3px 0;
          font-weight: 700;
          color: $foodlab;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .similar-restaurant-card-address {
          font-size: 12px;
          font-style: italic;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.detail-page-footer {
  position: fixed;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 20px;

  .footer-button-left, .footer-button-right {
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    background-color: $foodlab;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s all ease;

    &:hover {
      opacity: 0.5;
    }
  }

  .footer-button-shiny {
    animation: suggestionGlow 2s infinite;
  }
}